<!doctype html>
<head>
    <title>OysterCloud Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <!--div class="px-4 py-3 my-2 text-center">
          <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
          <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->

          <!-- Load chart.js dependencies-->
          <div>
            <canvas id="line-chart" width="800" height="400"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <!--load labels and data for chart-->
          <script>
            var graph = {{jsonfile|safe}};
            var measurementType = graph.label;
            var measurementData = graph.datasets;
          </script>
          <!--code for chart-->
          <script>
            new Chart(document.getElementById("line-chart"), {
              type: 'line',
              data: {
                labels: Array.from(Array(50).keys()),
                datasets: [{ 
                  data: measurementData,
                  label: measurementType,
                  borderColor: "#3e95cd",
                  fill: true,
                  yAxisID: 'y'
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: 'Oysterlytics Dashboard',
                    padding: {
                    top: 30,
                    bottom: 20
                    },
                    font: {
                      size: 24,
                      style: 'bold',
                      family: 'Calibri'
                    }
                  }
                },
                scales: {
                  y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                  },
                  y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',

                    // grid line settings
                    grid: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                  },
                }
             }
            });
          </script>          
        </div>
     </main>      
   </body>
</html>