<!doctype html>
<head>
    <title>OysterCloud Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <!--div class="px-4 py-3 my-2 text-center">
          <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
          <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->

          <!-- Load chart.js dependencies-->
          <div>
            <canvas id="line-chart" width="800" height="450"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            
            <!--code for chart-->
          <script>
            new Chart(document.getElementById("line-chart"), {
              type: 'line',
              data: {
                labels: Utils.months({count: 10}),
                datasets: [{ 
                  data: [86,114,106,106,107,111,133,221,783,2478],
                  label: "Location 1",
                  borderColor: "#3e95cd",
                  fill: true
                }, { 
                  data: [282,350,411,502,635,809,947,1402,3700,5267],
                  label: "Location 2",
                  borderColor: "#8e5ea2",
                  fill: true
                }, { 
                  data: [168,170,178,190,203,276,408,547,675,734],
                  label: "Location 3",
                  borderColor: "#3cba9f",
                  fill: true
                }]
              },
            options: {
              title: {
                display: true,
                text: 'pH of Shuck Sensors'
              }
            }
            });
          </script>          
        </div>
     </main>      
   </body>
</html>